{erl_opts, [
    debug_info,
    warn_bif_clash,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_record,
    warn_unused_vars,
    {parse_transform, lager_transform}
]}.

{edoc_opts, [
    {doclet, edown_doclet},
    {top_level_readme, {"./README.md", "https://github.com/ahf/peculium_core"}},
    {app_default, "http://www.erlang.org/doc/man"},
    {todo, true},
    {report_missing_types, true},
    {source_path, ["src"]},
    {stylesheet, ""},
    {image, ""}
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{dialyzer_opts, [
    {warnings, [
        no_unused,
        no_improper_lists,
        no_fun_app,
        no_match,
        no_opaque,
        no_fail_call,
        error_handling,
        no_match,
        unmatched_returns,
        behaviours,
        underspecs
    ]}
]}.

{qc_opts, [{qc_mod, triq}]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    %% Trifork QuickCheck.
    {triq, {git, "https://github.com/triqng/triq.git", "master"}},

    %% Logging framework.
    {lager, "3.5.1"},

    %% ECC library.
    %% {ucrypto, {git, "https://github.com/ahf/erlang-ucrypto.git", "master"}},

    %% Markdown API documentation.
    {edown, "0.8.1"},

    %% Database for storing the Bitcoin Blockchain in.
    {eleveldb, "2.2.20"},

    %% Process dictionary.
    {gproc, {git, "https://github.com/uwiger/gproc.git", "master"}},

    %% Socket handling.
    {ranch, {git, "https://github.com/extend/ranch.git", "master"}},

    %% UPnP handling.
    {nat_upnp, {git, "https://github.com/benoitc/nat_upnp.git", "master"}},

    %% Recon.
    {recon, {git, "https://github.com/ferd/recon.git", "master"}}
]}.
